The_Brain_Rotter_5000.json
{
  "name": "Brainrotter",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84924182-8e05-4bc6-b8b6-3863c1be0f06",
              "name": "User Input",
              "value": "={{ $json['The Main Topic'] }}",
              "type": "string"
            },
            {
              "id": "02602696-d3ad-4aeb-9d18-e80c6cf2ec17",
              "name": "Script Duration",
              "value": "={{ $json.Duration }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        160
      ],
      "id": "58e2f558-9c10-47d0-8abc-9ec3b35b2a2d",
      "name": "Set Idea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/image/transform/video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_url\":\"{{ $json.Image[0].url }}\",\n    \"length\": {{ $json.Duration }},\n    \"frame_rate\": 25,\n    \"zoom_speed\": 3,\n    \"id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        2340
      ],
      "id": "f9b287ac-89e5-4e65-be5c-77fddcd1bed6",
      "name": "Create Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2gXsBksh7ObGENOA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/video/concatenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_urls\": {{ JSON.stringify($json.video_urls) }},\n    \"id\": \"{{ $('Get video').item.json.id }}\"\n}",
        "options": {
          "timeout": 50000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        2660
      ],
      "id": "7bfa5b3a-6efb-44bc-90c4-9045afd9b0d9",
      "name": "Combine Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2gXsBksh7ObGENOA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Video Clip URL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        2660
      ],
      "id": "bb1bfe0b-a669-41d1-9157-e1cd2a905524",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "content": "## Create clips from images\n",
        "height": 320,
        "width": 1400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2240
      ],
      "id": "c19bc8b5-6432-4ac9-8b53-43c2b4d26309",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Combine clips into 1 video",
        "height": 300,
        "width": 1460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2580
      ],
      "id": "b1c379cf-dcb3-48a9-9b2e-1890b6eea60e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        2320
      ],
      "id": "44c4369c-1af6-4330-b767-b7e61bb15762",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "jsCode": "// Extract the array of URLs\nconst urls = items[0].json[\"Video Clip URL\"] || [];\n\n// Map URLs into the required structure\nconst formattedURLs = urls.map(url => ({ \"video_url\": url }));\n\n// Return the transformed data\nreturn [{\n    json: {\n        \"video_urls\": formattedURLs\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2660
      ],
      "id": "9f0fc0f7-07da-4d61-9260-6be6dfd8b394",
      "name": "Video url to array"
    },
    {
      "parameters": {
        "content": "## Add Captions",
        "height": 240,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3160
      ],
      "id": "5f0d4ec5-ef03-4133-bdb6-38973dd13054",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['Raw Video URL'] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json['TTS Audio'][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]volume=1[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}\n",
        "options": {
          "timeout": 50000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        2980
      ],
      "id": "5edeffe2-d749-4315-b6eb-be342431b8aa",
      "name": "Combine Clips3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2gXsBksh7ObGENOA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json['Video + Captions URL'] }}\"\n        },\n        {\n            \"file_url\": \"http://miniio:9000/music/epic-emotinal-inspirational-207071.mp3\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]aloop=loop=-1:size=2G[audio_loop];[0:a]volume=2[audio1];[audio_loop]volume=0.5[audio2];[audio1][audio2]amix=inputs=2:duration=first[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        3500
      ],
      "id": "f07aaf0b-3d48-4e54-b93b-7fcfbde8dcbe",
      "name": "Add Music",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2gXsBksh7ObGENOA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Combine Video & Audio",
        "height": 240,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2900
      ],
      "id": "578d4806-6b9b-4d48-bd0f-9e126a5d9d3f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        260,
        2660
      ],
      "id": "e96dd66f-823f-4e78-bc86-ee6a936711a3",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "## Create script, title & description",
        "height": 500,
        "width": 1820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "68fe7369-9430-4b99-808e-887eb8b7e72a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=http://kokoro-tts:8880/dev/timestamps/{{ $('Generate TTS').item.json.headers[\"x-timestamps-path\"] }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        800
      ],
      "id": "f83c6910-9d08-44cb-aa15-82e4f167e2ab",
      "name": "Get Captions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kokoro-tts:8880/dev/captioned_speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"input\": {{ JSON.stringify($json.Script) }},\n  \"voice\": \"{{ $json['TTS Voice'] }}\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n\"return_timestamps\": true,\n  \"speed\": 1\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        580
      ],
      "id": "3eeab9bf-b355-49fb-9c9f-9b0c4a54f843",
      "name": "Generate TTS"
    },
    {
      "parameters": {
        "content": "## Generate TTS (Voice Over)\n",
        "height": 500,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        520
      ],
      "id": "25b47e28-7c6c-4a27-bab5-b921633a3566",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Segments",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        1120
      ],
      "id": "c8789ccd-630d-4095-b581-76b9558b1ddb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "segments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        920,
        1120
      ],
      "id": "0cb0e2c3-9b8d-401a-83f4-95f15e71f4b0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Assume the previous node output is available here\nconst inputSegments = $input.first().json.segments; // Accessing segments from the previous output\n\nif (inputSegments.length > 0) {\n    const lastSegment = inputSegments[inputSegments.length - 1].json;\n    \n    // Check if the last segment's duration is less than 2 seconds\n    if (parseFloat(lastSegment.duration) < 2.0) {\n        // Combine the last segment with the previous segment if it exists\n        if (inputSegments.length > 1) {\n            const secondLastSegment = inputSegments[inputSegments.length - 2].json;\n\n            // Update the second last segment's words and duration\n            secondLastSegment.words += ' ' + lastSegment.words;\n            secondLastSegment.duration = (\n                parseFloat(secondLastSegment.duration) +\n                parseFloat(lastSegment.duration)\n            ).toFixed(2); // Update duration\n\n            // Remove the last segment as it has been merged\n            inputSegments.pop();\n        }\n    }\n}\n\n// Return the updated segments\nreturn [{ json: { segments: inputSegments } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        1120
      ],
      "id": "715f820b-c9f7-45ff-8e1b-383fed93fc5b",
      "name": "Fixer"
    },
    {
      "parameters": {
        "content": "## Generate scenes & image prompts\n",
        "height": 320,
        "width": 2380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1040
      ],
      "id": "f554892a-1b6a-4835-a629-8083b440027b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "={{ $json['Captions URL'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        1120
      ],
      "id": "17c9c483-06e9-4d3c-95b5-e4a007504911",
      "name": "Get Segment File"
    },
    {
      "parameters": {
        "jsCode": "// Input from the previous step\nconst splitLength = 5;\nconst inputData = $input.first().json.Segments; // Assuming 'body' is passed from the previous node\nconst segments = [];\nlet currentSegment = {\n    id: 0,\n    words: \"\",\n    duration: 0\n};\nlet currentStartTime = -1; // Start before the first word\nlet totalDuration = 0; // Tracking total duration\nlet currentEndTime = 0;\n\n// Define the pause buffer (in seconds)\nconst pauseBuffer = 0.1; // Adjust this value based on your requirements\n\n// Loop through the input data\nfor (const wordObj of inputData) {\n    const { word, start_time, end_time } = wordObj;\n\n    // If this is the first word in a segment, set the start time\n    if (currentStartTime === -1) {\n        currentStartTime = start_time;\n    }\n\n    // Add the word to the current segment\n    currentSegment.words += (currentSegment.words ? ' ' : '') + word;\n\n    // Update the end time\n    currentEndTime = end_time;\n\n    // Keep track of the duration without pauses\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n\n    // Check if we should finalize the current segment (if it exceeds 4 seconds)\n    if (currentSegment.duration >= splitLength) {\n        // Add pause buffer to the segment's duration before pushing it\n        currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n        \n        // Update total duration for the segment\n        totalDuration += parseFloat(currentSegment.duration);\n\n        // Push the current segment to segments\n        segments.push(currentSegment);\n\n        // Reset for the next segment\n        currentSegment = {\n            id: segments.length,\n            words: \"\",\n            duration: 0\n        };\n        currentStartTime = -1; // Reset the start time\n    }\n}\n\n// Handle any leftover words in the last segment\nif (currentSegment.words) {\n    currentSegment.duration = (currentEndTime - currentStartTime).toFixed(2);\n    // Add pause buffer to the last segment's duration\n    currentSegment.duration = (parseFloat(currentSegment.duration) + pauseBuffer).toFixed(2);\n    \n    totalDuration += parseFloat(currentSegment.duration); // Add last segment to total\n    segments.push(currentSegment);\n}\n\n// Round total duration\nconst roundedTotalDuration = Math.round(totalDuration);\n\n// Calculate total minutes and seconds\nconst totalSeconds = Math.floor(roundedTotalDuration);\nconst minutes = Math.floor(totalSeconds / 60);\nconst seconds = totalSeconds % 60;\n\n// Create a readable format for the total runtime\nconst totalRuntimeString = `${minutes} minute${minutes !== 1 ? 's' : ''}, ${seconds} second${seconds !== 1 ? 's' : ''}`;\n\n// Prepare output with segments, total duration, and total runtime string\nconst output = {\n    segments: segments.map(segment => {\n        return { json: segment };\n    }),\n    totalDuration: roundedTotalDuration,\n    TotalMinutes: totalRuntimeString\n};\n\n// Return the structured output\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        1120
      ],
      "id": "bedc1caf-ec68-47f4-b297-55992fa0fbb2",
      "name": "Split into 5s Scenes"
    },
    {
      "parameters": {
        "content": "## Add BG Music",
        "height": 240,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3420
      ],
      "id": "69b097d6-3bd8-493f-9b99-52829142ea3a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/video/caption",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": \"{{ $json['Video + Audio URL'] }}\",\n    \"settings\": {\n        \"line_color\": \"#FFFFFF\",\n        \"word_color\": \"#22b525\",\n        \"all_caps\": false,\n        \"max_words_per_line\": 3,\n        \"font_size\": 50,\n        \"bold\": false,\n        \"italic\": false,\n        \"underline\": false,\n        \"strikeout\": false,\n        \"outline_width\": 6,\n        \"shadow_offset\": 8,\n        \"style\": \"highlight\",\n        \"font_family\": \"The Bold Font\",\n        \"position\": \"top_center\"\n    },\n    \"id\": \"{{ $json.id }}\"\n}",
        "options": {
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        3240
      ],
      "id": "5fd5f086-6867-4de5-ace4-29b2e7ea9a8b",
      "name": "Create Captions",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2gXsBksh7ObGENOA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 684,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6637,
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        400,
        2320
      ],
      "id": "1b9cb67a-4de8-40f6-9182-5a6cc105d4e1",
      "name": "Baserow4",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 684,
        "rowId": "={{ $('Loop Over Items3').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6637,
              "fieldValue": "={{ $json.response }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1160,
        2340
      ],
      "id": "70b50b38-d985-455d-b4bb-6716c0511502",
      "name": "Baserow5",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6634,
                "operator": "empty"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        40,
        2980
      ],
      "id": "508eecf6-b35b-490e-abf9-e0dedb1180aa",
      "name": "Baserow11",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $('Baserow11').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6633,
              "fieldValue": "={{ $json.response[0].file_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        480,
        2980
      ],
      "id": "e252100c-60bf-4ee1-9b04-5c7d4d2a67d9",
      "name": "Baserow12",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6629,
                "operator": "empty"
              },
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        40,
        3240
      ],
      "id": "b04aaca1-a59c-4ff0-830f-84d01a71ce87",
      "name": "Baserow13",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $('Baserow13').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6634,
              "fieldValue": "={{ $json.response }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        480,
        3240
      ],
      "id": "d2c05923-1682-458a-ad79-4aaf95c49376",
      "name": "Baserow14",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6622,
                "operator": "empty"
              },
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        20,
        3500
      ],
      "id": "1ee15601-076b-4d65-bb5b-5399c4bb25af",
      "name": "Baserow15",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Brainer Rotter 5000",
        "formDescription": "Creates Brain Rot",
        "formFields": {
          "values": [
            {
              "fieldLabel": "The Main Topic",
              "fieldType": "textarea",
              "placeholder": "Amazing world of cats",
              "requiredField": true
            },
            {
              "fieldLabel": "Duration",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "30 Second"
                  },
                  {
                    "option": "1 Minute"
                  },
                  {
                    "option": "2 Minutes"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Generative Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Lego"
                  },
                  {
                    "option": "Minecraft"
                  },
                  {
                    "option": "Disney Pixar"
                  },
                  {
                    "option": "Hand-Drawn"
                  },
                  {
                    "option": "Chibi"
                  },
                  {
                    "option": "Anime"
                  },
                  {
                    "option": "Hyper-Realistic"
                  },
                  {
                    "option": "Cyberpunk"
                  },
                  {
                    "option": "fantasy"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Video Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "From user idea"
                  },
                  {
                    "option": "From transcript"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "TTS Voice",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "af_alloy"
                  },
                  {
                    "option": "af_aoede"
                  },
                  {
                    "option": "af_bella"
                  },
                  {
                    "option": "af_heart"
                  },
                  {
                    "option": "af_jadzia"
                  },
                  {
                    "option": "af_jessica"
                  },
                  {
                    "option": "af_kore"
                  },
                  {
                    "option": "af_nicole"
                  },
                  {
                    "option": "af_nova"
                  },
                  {
                    "option": "af_river"
                  },
                  {
                    "option": "af_sarah"
                  },
                  {
                    "option": "af_sky"
                  },
                  {
                    "option": "am_adam"
                  },
                  {
                    "option": "am_echo"
                  },
                  {
                    "option": "am_eric"
                  },
                  {
                    "option": "am_fenrir"
                  },
                  {
                    "option": "am_liam"
                  },
                  {
                    "option": "am_michael"
                  },
                  {
                    "option": "am_onyx"
                  },
                  {
                    "option": "am_puck"
                  },
                  {
                    "option": "am_santa"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Image Provider",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "together.ai"
                  },
                  {
                    "option": "fal.ai"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1100,
        1580
      ],
      "id": "b1927737-68c0-41b5-847e-4a353cc2fc63",
      "name": "On form submission",
      "webhookId": "3b749a18-39ca-4f86-9f0d-c3de1cf8a05f"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"Introduction.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1040,
        380
      ],
      "id": "d09f32da-addc-4141-9967-5cf187525e7d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Prompt\": \"enter prompt here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1280,
        1220
      ],
      "id": "ce09c5ba-8183-4b34-875d-be1a59c70e2d",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The Topic:\n{{ $json[\"User Input\"] }}\n\nRough Duration:\n{{ $('Set Idea').item.json['Script Duration'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Act as a YouTube video scriptwriter who specializes in transforming user-submitted ideas—whether they are story concepts or intriguing facts—into engaging, bite-sized video scripts. The user will also provide a target video length, which you should keep in mind while crafting the content. Your goal is to take these ideas and produce compelling, original content without referencing specific sources or names.\n\nYour script should be engaging, energetic, and easy to follow, turning user concepts into captivating narratives within the specified video length. Use a conversational tone, vivid descriptions, and a strong hook to instantly grab attention. Keep the pacing snappy, ensuring that every second counts.\n\nNEVER add linebreaks or emojis to the hook, main script & CTA\n\n**Output Format:**\n- **Title:** [Catchy, curiosity-driven title based on user idea]  \n- **Description:** [50-150 characters, snappy summary with key hashtags relevant to the user’s topic]  \n- **Hook:** [An attention-grabbing opening line inspired by the user idea]  \n- **MainScript:** [A natural, spoken-style script without line breaks or emojis, tailored to the user-defined video length]  \n- **Call to Action:** [A compelling prompt encouraging viewers to engage, like \"What was your favorite part of this story?\" or \"Want to explore more ideas? Follow for more!\"]\n\nMake sure the MainScript feels seamless and original, as if these insights are being shared firsthand. No direct references to names, specific sources, or the user—just pure, engaging storytelling that keeps viewers hooked."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        460,
        260
      ],
      "id": "19e5e6fb-60cb-4837-aa1d-8cdec4cf405e",
      "name": "Script Writier 🧠"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input:\n{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Take the user input and output in the following JSON Structure, DO NOT change or alter any of the text\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Short and engaging title, curiosity-driven.\"\n    },\n    \"Description\": {\n      \"type\": \"string\",\n      \"description\": \"Short description with key hashtags, hook, context, CTA, and hashtags.\"\n    },\n    \"Hook\": {\n      \"type\": \"string\",\n      \"description\": \"The hook.\"\n    },\n    \"MainScript\": {\n      \"type\": \"string\",\n      \"description\": \"Main script content.\"\n    },\n    \"CTA\": {\n      \"type\": \"string\",\n      \"description\": \"Call to action\"\n    }\n  },\n  \"required\": [\"Title\", \"Description\", \"Intro\", \"MainScript\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        860,
        160
      ],
      "id": "0f873369-5c24-4bff-8c76-695e8966fb74",
      "name": "Output Parser 🛠"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json['Video Type'] }}",
                    "rightValue": "From transcript",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67835e1a-7770-4d3e-b9d6-0dac59a5923a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "From transcript"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "171a9dfd-59a3-49a4-af28-c284abc85f13",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User Idea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        160
      ],
      "id": "0beab6b2-a40e-4251-9a03-9e7291affbfb",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Heres the full script:\n{{ $('Get records1').item.json.Script }}\n\nGenerative style:\n{{ $('Get records1').item.json['Generative Style'] }}\n\nHere is the current scene:\nScript portion: {{ $json.json.words }}\nScript position: {{ $json.json.id }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an image prompt generator agent for video production. Your role is to create starting frames for a longer video by transforming script segments into visually descriptive image prompts. Each scene will be generated in a specified artistic style, which must be factored into the prompt to ensure consistency.  \n\nOutput a JSON object containing the prompt for the current script segment that you are presented with:  \n\n```json\n{\n  \"Prompt\": \"enter prompt here\"\n}\n```  \n\n### **IMPORTANT INSTRUCTIONS:**  \n\n- **Always** incorporate the given style into the visual description.  \n- **Never** include text in the images.\n- **Never** exceed 240 characters in your prompt.  \n- **Keep images visually compelling** – Instead of basic or static representations, focus on **dynamic compositions, dramatic angles, striking lighting, immersive textures, and environmental storytelling**.  \n- **Small subjects should have compelling micro-world narratives** – If the subject is small (e.g., a drop of water, a single key, a lone leaf), provide a **rich atmosphere**, interplay of lighting, and framing that enhances storytelling.  \n- **Focus on depth, detail, and artistic impact** rather than excessive complexity.  \n\n\nA well-crafted prompt should now include:  \n\n- **Subject:** The main focus of the image.  \n- **Style:** The artistic style provided for this scene (e.g., Lego, Minecraft, Disney Pixar, Hand-Drawn, Chibi, Anime, Hyper-Realistic, Cyberpunk).  \n- **Composition:** Use **engaging angles** (macro close-ups, over-the-shoulder, dynamic perspectives).  \n- **Lighting:** Prioritize dramatic effects like **backlighting, neon glows, moody shadows, or iridescent reflections** for added immersion. \n- **Micro-World Storytelling:** Ensure even small objects contribute to a **scene with intrigue, interaction, or emotion**.  \n- **Color Palette:** The dominant colors or color scheme.  \n- **Mood/Atmosphere:** The emotional tone of the image.  \n- **Technical Details:** Camera effects like **bokeh, depth of field, contrast**, or lens distortion to make the image feel real.  \n- **Additional Elements:** Small but meaningful details that **enhance interest without overwhelming the scene**.  \n\n\nExample Prompts\n\n- **Style: Hyper-Realistic** – A hyperrealistic macro shot of a single droplet of glue stretching delicately from a cracked porcelain teacup, caught in the moment before it falls. The soft golden glow from a nearby desk lamp refracts through the droplet, revealing tiny swirling textures inside. Dust particles float around, illuminated in the warm evening light.  \n- **Style: Minecraft** – A blocky Minecraft-style cavern glowing with radiant blue crystals embedded in stone. A pixelated adventurer stands at the entrance, silhouetted against eerie, ambient light. Shadows dance across the cave walls, creating intrigue.  \n- **Style: Disney Pixar** – A cozy animated bakery at sunrise, where a little girl with oversized round glasses watches a tray of fresh golden pastries steaming on the counter. Soft beams of morning sunlight filter in, casting a warm, dreamy glow on the checkered tiles.  \n- **Style: Cyberpunk** – A neon-lit cyberpunk alleyway drenched in rain. The headlights of a hoverbike cut through thin mist as a shadowy figure in a metallic trench coat leans against a graffiti-covered wall. Bright neon blues and deep magentas create dramatic contrast.  \n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1180,
        1080
      ],
      "id": "f813d8e3-178b-4b60-85fa-2ecf3e2b2736",
      "name": "Image Prompter V2 📷"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        1600
      ],
      "id": "836168fe-a9a9-4910-9e6a-1817ccbc624b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Image Generation - flux/schnell\n",
        "height": 840,
        "width": 2240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1380
      ],
      "id": "8c5aaea8-90dd-45d2-808c-1087d01f10aa",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        1880
      ],
      "id": "c107c5fd-4697-4779-874d-a68f5b61c61c",
      "name": "Wait1",
      "webhookId": "417c1874-053b-4a23-b40b-2378fa533a7f"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 684,
        "rowId": "={{ $('Loop Over Items').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6637,
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1400,
        1880
      ],
      "id": "f82822cb-8a5e-4fef-8939-1325c6c69c79",
      "name": "Baserow21",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The Transcript:\n{{ $json['User Input'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Act as a YouTube video scriptwriter who specializes in transforming insights, interesting facts, and key takeaways into engaging, bite-sized video scripts. Your goal is to craft compelling short-form scripts based on the most intriguing ideas from long-form podcast transcripts—presenting them as fresh, original content without referencing sources or names.  \n\nYour script should be engaging, energetic, and easy to follow, turning complex ideas into exciting, digestible narratives. Use a conversational tone, vivid descriptions, and a strong hook to instantly grab attention. Keep the pacing snappy, ensuring every second counts.  \n\nImportant Guidelines:\n- Do NOT use asterisks (*) or emojis. Keep the text clean and formatted naturally.  \n- Do NOT include line breaks within the \"MainScript\" unless necessary for readability. Write in a natural, spoken style as if it’s being delivered by a person.  \n- The script must feel ORIGINAL and conversational, without direct references to specific podcasts, hosts, or episodes.  \n- The Call to Action should remain simple and engaging. Examples: \"What was your favorite insight?\" or \"Want more ideas like this? Follow for more!\"\n\nOutput Format: \n- Title: [Catchy, curiosity-driven title]  \n- Description: [50-150 characters, snappy summary with key hashtags]  \n- Hook: [An attention-grabbing opening line]  \n- MainScript: [A natural, spoken-style script—NO asterisks, NO emojis, NO unnecessary formatting]  \n- Call to Action: [A compelling prompt encouraging viewers to engage]  \n\nMake sure the MainScript feels seamless and engaging, as if these insights are being shared firsthand. Keep everything punchy and to the point, ensuring high retention and engagement.  "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        460,
        40
      ],
      "id": "3495b45d-5140-4156-8848-19439e5dec92",
      "name": "Long form to Script Writier 🧠"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 169,
        "tableId": 683,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6622,
              "fieldValue": "={{ $('Output Parser 🛠').item.json.output.Title }}"
            },
            {
              "fieldId": 6623,
              "fieldValue": "={{ $('Output Parser 🛠').item.json.output.Description }}"
            },
            {
              "fieldId": 6624,
              "fieldValue": "={{ $json.Script }}"
            },
            {
              "fieldId": 6632,
              "fieldValue": "={{ $('Set Idea').item.json['User Input'] }}"
            },
            {
              "fieldId": 6631,
              "fieldValue": "={{ $('On form submission').item.json['Generative Style'] }}"
            },
            {
              "fieldId": 6635,
              "fieldValue": "={{ $('On form submission').item.json['TTS Voice'] }}"
            },
            {
              "fieldId": 6634,
              "fieldValue": "Processing"
            },
            {
              "fieldId": 6636,
              "fieldValue": "={{ $('On form submission').item.json['Image Provider'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1600,
        160
      ],
      "id": "e6aa2e8d-ceb5-44df-8317-96ab0c87f3a0",
      "name": "Baserow - Create record",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6629,
                "operator": "empty"
              },
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        60,
        2660
      ],
      "id": "07220449-a837-45e6-82f4-62c9f7fc619c",
      "name": "Get video",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 684,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6637,
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        460,
        2660
      ],
      "id": "fc870baa-530e-41c0-8181-6560b3416cf9",
      "name": "Get Scenes",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6634,
              "fieldValue": "={{ $json.response }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1300,
        2660
      ],
      "id": "732a81da-d46f-41af-8f52-01588e5b75e9",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:80/api/user-files/upload-file/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        580
      ],
      "id": "293daf30-c0b1-479c-807e-e88a047b2ef7",
      "name": "Upload tts to baserow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        },
        "httpBasicAuth": {
          "id": "wfT72sLsZrTTTlSy",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        60,
        580
      ],
      "id": "fe04d8b0-c9a3-45c2-8c4b-dc22a1c9586f",
      "name": "Get records",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        40,
        1100
      ],
      "id": "bd30f234-13bc-487e-9136-7c8456c20a61",
      "name": "Get records1",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 683,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6629,
                "operator": "empty"
              },
              {
                "field": 6634,
                "operator": "contains",
                "value": "Processing"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        40,
        2320
      ],
      "id": "8ace2e6f-23ff-419f-b768-ee0fdc6d49ad",
      "name": "Get video1",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        2320
      ],
      "id": "a0f60076-2f6b-43a7-b4ed-5ce8da425dda",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $('Baserow15').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6625,
              "fieldValue": "={{ $json.response[0].file_url }}"
            },
            {
              "fieldId": 6634,
              "fieldValue": "Done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        460,
        3500
      ],
      "id": "74b17e45-7a6a-4117-900d-ad2da7eb373f",
      "name": "Baserow1",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        780,
        380
      ],
      "id": "90f97cc3-bd9d-4552-b70e-bb2f2f3a41ee",
      "name": "Open Router - Deepseek v3.1",
      "credentials": {
        "openRouterApi": {
          "id": "QkfutB9C8l5akDYY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1120,
        1220
      ],
      "id": "07554b73-6425-4ae0-88af-37100801404e",
      "name": "Open Router - Deepseek v3.",
      "credentials": {
        "openRouterApi": {
          "id": "QkfutB9C8l5akDYY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cd1dc03-8331-44ba-bda9-848145bab939",
              "name": "Main Script",
              "value": "={{ $json.output.Hook }} {{ $json.output.MainScript }} {{ $json.output.CTA }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        160
      ],
      "id": "72a85196-7818-41f6-8c1c-8a402c6218e5",
      "name": "Combine"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfd6c0e6-93c2-496a-8f3d-9ebc3061e78f",
              "name": "Script",
              "value": "={{$json['Main Script']\n  .replace(/\\n{2,}/g, \"\")      // Remove multiple newlines\n  .replace(/\\*(.*?)\\*/g, \"$1\") // Remove asterisks around words\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        160
      ],
      "id": "96416460-eb58-40d7-a71c-4f6a9c36a272",
      "name": "Format Cleanup"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "base64Image",
              "stringValue": "={{ $json.body.data[0].b64_json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28eb1956-ef6d-437e-9329-e1ea517d01f8",
      "name": "Base64 To String",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        880,
        1880
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "base64Image",
        "options": {
          "dataIsBase64": true,
          "fileName": "image.png",
          "mimeType": "image/png"
        }
      },
      "id": "46b4745e-14df-46cd-b1f5-b64c75711593",
      "name": "Convert String to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1060,
        1880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:80/api/user-files/upload-file/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        1880
      ],
      "id": "9a200afd-3b1f-425f-81d9-a5004d70a6bb",
      "name": "HTTP - Upload To Baserow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:80/api/user-files/upload-file/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        800
      ],
      "id": "135cba3e-e1aa-4e42-b939-d648b068f15f",
      "name": "Upload captions To Baserow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $('Get records').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6633,
              "fieldValue": "={{ $('Upload tts to baserow').item.json.name }}"
            },
            {
              "fieldId": 6630,
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        460,
        800
      ],
      "id": "4cd3ac38-6a52-470c-8d53-179a49140db3",
      "name": "Update Record",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 683,
        "rowId": "={{ $('Get records1').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6629,
              "fieldValue": "={{ $json.ids }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2200,
        1080
      ],
      "id": "9394b512-259e-4371-972f-405170c0f1eb",
      "name": "Baserow19",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize an array to hold IDs\nconst ids = [];\n\n// Loop over input items\nfor (const item of $input.all()) {\n  // Loop through each 'data' array\n  for (const dataItem of item.json.data) {\n    // Check if 'id' is defined\n    if (dataItem.id) {\n      // Push the ID into the array\n      ids.push(dataItem.id);\n    }\n  }\n}\n\n// Return the array wrapped in an object\nreturn [{ json: { ids } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1080
      ],
      "id": "0f9c4fd9-9f21-4f48-9ef4-bdce6b80161f",
      "name": "IDs To Array1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1780,
        1080
      ],
      "id": "32e92707-2c18-406f-8937-3cf2bd05ef65",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 169,
        "tableId": 684,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6638,
              "fieldValue": "={{ $json.output.Prompt }}"
            },
            {
              "fieldId": 6639,
              "fieldValue": "={{ $('Split Out').item.json.json.duration }}"
            },
            {
              "fieldId": 6643,
              "fieldValue": "={{ $('Get records1').item.json['Image Provider'].value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1560,
        1080
      ],
      "id": "333e838a-bfd0-4730-aa0c-c125e0cd229c",
      "name": "Baserow22",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n    \"prompt\": {{ JSON.stringify($json.Prompt) }},\n    \"width\": 576,\n    \"height\": 1024,\n    \"steps\": 4,\n    \"n\": 1,\n    \"response_format\": \"b64_json\"\n   }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1880
      ],
      "id": "eb0e78de-034e-4490-903b-e6912bfdc7d4",
      "name": "HTTP - Together.ai",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QHjo3RJjpq54X236",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json['Image Provider'].value }}",
                    "rightValue": "fal.ai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eaf1a214-ae9e-455f-889b-5fb2f010b2a6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fal.ai"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e78a869-ccdb-4d17-b4f0-bc61733f6232",
                    "leftValue": "={{ $('Loop Over Items').item.json['Image Provider'].value }}",
                    "rightValue": "together.ai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "together.ai"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        1620
      ],
      "id": "84c15c7d-b885-4f4b-a37f-88becae808f8",
      "name": "Switch - Image Provider"
    },
    {
      "parameters": {
        "databaseId": 169,
        "tableId": 684,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6641,
                "operator": "empty"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        20,
        1600
      ],
      "id": "f12d24a0-199a-4143-b637-e67ff3e7ef8b",
      "name": "Get scenes",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost/fal-ai/flux/schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ JSON.stringify($json.Prompt) }}"
            },
            {
              "name": "image_size",
              "value": "portrait_16_9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1540
      ],
      "id": "11d9fcb9-c8ed-4a78-a982-b7b06bfd6fba",
      "name": "fal.ai - Submit request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6631ecc8-bcf2-43b1-8fa4-63b23795815f",
              "name": "status_url",
              "value": "={{ $json.status_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        1580
      ],
      "id": "0651df59-6da1-434c-989d-c6d482a48b3f",
      "name": "set status_url"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "393f74e8-2678-4e29-9831-bcd043da904b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        1540
      ],
      "id": "d9cf72d4-7be0-4785-a743-4e7b193d7006",
      "name": "If complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:80/api/user-files/upload-file/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        1420
      ],
      "id": "3e36a04a-dddb-400c-8c2d-7fb8d777f2f3",
      "name": "HTTP - Upload To Baserow1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Passthrough",
      "typeVersion": 1,
      "position": [
        1940,
        1920
      ],
      "id": "a391d1cf-d6db-4e4a-b61d-ccb5e5cd71e7"
    },
    {
      "parameters": {
        "content": "## together.ai FREE - Has rate limits so much slower due to batching",
        "height": 260,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        1800
      ],
      "id": "dc5286c3-a8ac-449d-8bf6-42f85be847d7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## fal.ai - Much faster.\n$0.003 - $1 you can run this model approximately 333 times.",
        "height": 380,
        "width": 1540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        1400
      ],
      "id": "37a2c0d1-cc7b-4676-81de-02a8d9fb697c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1540
      ],
      "id": "8afaeebd-9406-4b92-947a-5ad320c89238",
      "name": "HTTP - get status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        1420
      ],
      "id": "cb619854-8a57-45d1-bde3-3814786a9f6d",
      "name": "HTTP - get image url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "szXAJbaui7fn9EU5",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        1420
      ],
      "id": "b9b9ff4a-0e5d-4483-9d00-f6a4a7bbecea",
      "name": "HTTP Download Image"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 169,
        "tableId": 684,
        "rowId": "={{ $('Loop Over Items').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6637,
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1940,
        1420
      ],
      "id": "4af0981b-188d-4a19-b512-6742baf6f157",
      "name": "Update Scene record",
      "credentials": {
        "baserowApi": {
          "id": "fVvrYKTmH2WvTxUr",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        1580
      ],
      "id": "f196d487-b260-40c9-b5dc-761f4f60524e",
      "name": "Wait 1s",
      "webhookId": "833a4309-7169-43f7-bfc3-edfe58e50d97"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Idea": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Clips": {
      "main": [
        [
          {
            "node": "Baserow5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Video url to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Create Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video url to array": {
      "main": [
        [
          {
            "node": "Combine Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips3": {
      "main": [
        [
          {
            "node": "Baserow12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Music": {
      "main": [
        [
          {
            "node": "Baserow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Captions": {
      "main": [
        [
          {
            "node": "Upload captions To Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS": {
      "main": [
        [
          {
            "node": "Upload tts to baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split into 5s Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Image Prompter V2 📷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Segment File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into 5s Scenes": {
      "main": [
        [
          {
            "node": "Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Captions": {
      "main": [
        [
          {
            "node": "Baserow14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow4": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow5": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow11": {
      "main": [
        [
          {
            "node": "Combine Clips3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow13": {
      "main": [
        [
          {
            "node": "Create Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow15": {
      "main": [
        [
          {
            "node": "Add Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set Idea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow13",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get records1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Output Parser 🛠",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompter V2 📷",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Script Writier 🧠": {
      "main": [
        [
          {
            "node": "Output Parser 🛠",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser 🛠": {
      "main": [
        [
          {
            "node": "Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Long form to Script Writier 🧠",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Writier 🧠",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompter V2 📷": {
      "main": [
        [
          {
            "node": "Baserow22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch - Image Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow21": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long form to Script Writier 🧠": {
      "main": [
        [
          {
            "node": "Output Parser 🛠",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scenes": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload tts to baserow": {
      "main": [
        [
          {
            "node": "Get Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get records": {
      "main": [
        [
          {
            "node": "Generate TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get records1": {
      "main": [
        [
          {
            "node": "Get Segment File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Baserow4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Router - Deepseek v3.1": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser 🛠",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Script Writier 🧠",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Long form to Script Writier 🧠",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Open Router - Deepseek v3.": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompter V2 📷",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine": {
      "main": [
        [
          {
            "node": "Format Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cleanup": {
      "main": [
        [
          {
            "node": "Baserow - Create record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 To String": {
      "main": [
        [
          {
            "node": "Convert String to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert String to binary": {
      "main": [
        []
      ]
    },
    "HTTP - Upload To Baserow": {
      "main": [
        [
          {
            "node": "Baserow21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload captions To Baserow": {
      "main": [
        [
          {
            "node": "Update Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDs To Array1": {
      "main": [
        [
          {
            "node": "Baserow19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "IDs To Array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow22": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Together.ai": {
      "main": [
        [
          {
            "node": "Base64 To String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Image Provider": {
      "main": [
        [
          {
            "node": "fal.ai - Submit request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Together.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai - Submit request": {
      "main": [
        [
          {
            "node": "HTTP - get status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status_url": {
      "main": [
        [
          {
            "node": "HTTP - get status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If complete": {
      "main": [
        [
          {
            "node": "HTTP - get image url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upload To Baserow1": {
      "main": [
        [
          {
            "node": "Update Scene record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passthrough": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - get status": {
      "main": [
        [
          {
            "node": "If complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - get image url": {
      "main": [
        [
          {
            "node": "HTTP Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download Image": {
      "main": [
        [
          {
            "node": "HTTP - Upload To Baserow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Scene record": {
      "main": [
        [
          {
            "node": "Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "set status_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c682442-7fb5-48c2-a590-c9e7a1dd95ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13f43bde982d352f9c1586d7ee780a16d2b1209fd5ad5398d77372130ce47b93"
  },
  "id": "RY3dTj45390TLD2u",
  "tags": []
}